<h1>About</h1>
<p>Observatory Media is a current events digital magazine that provides audio, video
  and written content that showcases the work of academics and young professionals.
  We work to help our global contributor base, from a wide range of disciplines and
  focuses, reach an engaged audience. The team at Observatory Media is committed to
  ensuring that all the articles are well researched and allow the reader to further
  engage with the topic and/or research.</p>
<p>Contact us at <a href="mailto:contact@observatorymedia.org">contact@observatorymedia.org</a></p>
<hr>
<h2>Our Team</h2>
<h3>KARAN MEHTA – DIRECTOR</h3>
<p>Karan Mehta has an Honour’s Bachelors degree in International Studies from Glendon
  College and postgraduate certificate in Government Relations from Seneca College.
  He held key positions in numerous organizations and has volunteered politically.
  During his time in undergraduate studies Karan was one of the founding members of
  Glendon Model NATO and has helped provide students with a practical approach to
  international affairs. Karan is passionate about politics, international affairs and
  grassroots social movements.</p>
<h3>NATHAN SEEF – DIRECTOR</h3>
<p>Nathan earned a Master of International Criminology with Merit from the University
  of Sheffield in the United Kingdom and an Honours Bachelor of Arts in Criminology
  from York University in Toronto, Canada. He specializes in transnational organized
  crime and environmental harms. Nathan has given several guest lectures on green
  criminology and is passionate about finding ways to reduce the negative impacts of
  mass production. He has strong interests in issues of global governance, international
  law, and international affairs. Nathan is also an Associate Editor at iAffairs
  Canada, an online publication affiliated with the Canadian Foreign Policy Journal and
  the Norman Paterson School of International Affairs at Carleton University in Ottawa,
  Canada.</p>
<h3>VENNESA WEEDMARK – DIRECTOR</h3>
<p>Vennesa graduated with a Master of Arts from the School of Oriental and African
  Studies (SOAS) at the University of London, England. She was a Senior Editor and
  contributing author at the Glendon Journal of International Studies
  (an undergraduate-run, peer-reviewed, academic journal based at Glendon College,
  York University) from 2011-12 and continues as a reviewer. She served as the
  Vice-President of Communications for the Glendon Model NATO Club (2011-12) and
  was the Secretary of the Glendon Conservative Club for three majestic years (2009-12).
  Vennesa can converse in English and French fluently, and is quite articulate in
  Hungarian. Her main areas of interest include nuclear security and non-proliferation,
   underdevelopment economics, Caribbean international relations, proto-IR in African
   antiquity, and International Studies theory.</p>
