<h1>Contact</h1>
<h2>Write for us</h2>
<p>Observatory Media was founded to give young academics and professionals an
  opportunity to showcase their voice to an engaged global audience. If you would
  like to contribute an article, please send an email to
  <a href="mailto:contact@observatorymedia.org">contact@observatorymedia.org</a>
  with ‘Submission’ and ‘your name’ in the title.</p>
<p>Thank you!</p>
<h2>Follow Us</h2>
<a href="mailto:contact@observatorymedia.org"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
<a href="https://twitter.com/ObsMedia_Online"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
<a href="https://www.facebook.com/ObsMediaOnline/"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
<a href="https://www.linkedin.com/company/10586882/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
<a href="https://itunes.apple.com/us/podcast/observatory-medias-chatter/id1119586502?mt=2"><i class="fa fa-podcast fa-2x" aria-hidden="true"></i></a>
<br>
<img id="writeForUs" src="img/writeForUs.jpg" alt="Write for Us">
