<div id="slideContainer">
  <div id="photoWrapper">
    <div class="slidesOuter">
      <div class="slidesInner">
        <img class="photo" src="img/podcast1.jpg" alt="Podcast: No Disasters Here">
        <a class="articleTitle" href="http://www.observatorymedia.org/no-disasters-metaphorical-otherwise/">
          OM Chatter: No Disasters Here, Metaphorical or Otherwise</a>
      </div>
      <div class="slidesInner">
        <img class="photo" src="img/trump2.jpg" alt="Article: T for Trump">
        <a class="articleTitle" href="http://www.observatorymedia.org/t-trump-americas-swan-song/">
          T for Trump: America's Swan Song</a>
      </div>
      <div class="slidesInner">
        <img class="photo" src="img/narco3.jpg" alt="Article: Narcoculture">
        <a class="articleTitle" href="http://www.observatorymedia.org/narcoculture-evolution-narcocorridos-3/">
          Narcoculture: The Evolution of Narcorridos</a>
      </div>
      <div class="slidesInner">
        <img class="photo" src="img/world4.jpg" alt="Round Up: Week of Terror">
        <a class="articleTitle" href="http://www.observatorymedia.org/a-week-of-terror/">
          The Round Up: A Week of Terror</a>
      </div>
    </div>
  </div>
  <div class="photoButtons">
    <button id="left">&#10094;</button>
    <button id="right">&#10095;</button>
  </div>
</div>
