<h1>Observatory Media's Chatter</h1>
<p>Once a week, three passionate people get together and have a lively discussion of
  current events from around the globe. We cover economics, conflict, politics,
  international development, the environment, and more! We cover things that are
  actually happening from around your world. Seriously, these things are happening.
  Welcome to your world.</p>
<span>Listen to us on iTunes: </span><a href="https://itunes.apple.com/us/podcast/observatory-medias-chatter/id1119586502?mt=2"><i class="fa fa-podcast fa-lg" aria-hidden="true"></i></a><br>
<h2>Our latest episode...</h2>
<a href="http://www.observatorymedia.org/no-disasters-metaphorical-otherwise/"><h3>NO DISASTERS HERE, METAPHORICAL OR OTHERWISE</h3></a>
<br>
<img id="writeForUs" src="img/podcastMicro.jpg" alt="OM Podcasts">
