<h2>Thanks for signing up for the Observatory Media newsletter!</h2>
<p>Check out or latest article <a href="http://www.observatorymedia.org/t-trump-americas-swan-song/">
  here</a>, and don't forget to listen to Observatory Media Chatter on
  <a href="https://itunes.apple.com/us/podcast/observatory-medias-chatter/id1119586502?mt=2">
    iTunes</a>.</p>
<div id="omChatter">
  <img class="photo" src="img/podcast1.jpg" alt="Podcast: No Disasters Here">
  <a class="overlay" href="http://www.observatorymedia.org/no-disasters-metaphorical-otherwise/">
    OM Chatter</a>
</div>
<div id="narco">
  <img class="photo" src="img/narco3.jpg" alt="Article: Narcoculture">
  <a class="overlay" href="http://www.observatorymedia.org/narcoculture-evolution-narcocorridos-3/">
    Narcoculture: The Evolution of Narcorridos</a>
</div>
<div id="roundUp">
  <img class="photo" src="img/world4.jpg" alt="Round Up: Week of Terror">
  <a class="overlay" href="http://www.observatorymedia.org/a-week-of-terror/">
    The Round Up</a>
</div>
